<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">

</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>


<div class="content">
    <h1>Página de administración</h1>
    <div th:if="${session.usuario != null}">
        <p>Bienvenido, <span th:text="${session.usuario.email}">Señor Administrador: </span>!</p>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div th:if="${session.usuario == null}">
        <a th:href="@{/loginAdmin}">Login</a>
        <a th:href="@{/register}">Register</a>
    </div>
    <div class="container">
        <h2 class="mt-5">Lista de Clientes</h2>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Pais</th>
                <th>Genero</th>
                <th>Telefono Movil</th>
                <th>Tipo Documento</th>
                <th>Documento</th>
                <th>Comentarios</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellidos}"></td>
                <td th:text="${cliente.usuarioEmail.email}"></td>
                <td th:text="${cliente.pais.nombre}"></td>
                <td th:text="${cliente.genero.gen}"></td>
                <td th:text="${cliente.telefonoMovil}"></td>
                <td th:text="${cliente.tipoDocumentoCliente}"></td>
                <td th:text="${cliente.documento}"></td>
                <td th:text="${cliente.comentarios}"></td>
                <td>
                    <form th:action="@{/administrador/inicio/eliminar/{id}(id=${cliente.id})}" method="post">
                        <button type="submit" >Eliminar</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
