<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">

</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>


<div class="content">
    <h1>Página de administración</h1>
    <div th:if="${session.usuario != null}">
        <p>Bienvenido, <span th:text="${session.usuario.email}">Señor Administrador: </span>!</p>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div th:if="${session.usuario == null}">
        <a th:href="@{/loginAdmin}">Login</a>
        <a th:href="@{/register}">Register</a>
    </div>
    <p>Contenido de la página...</p>
</div>
</body>
</html>
