<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>

<div class="content">
    <h1>Página de administración</h1>
    <div th:if="${session.usuario != null}">
        <p>Bienvenido, <span th:text="${session.usuario.email}">Señor Administrador: </span>!</p>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div th:if="${session.usuario == null}">
        <a th:href="@{/loginAdmin}">Login</a>
        <a th:href="@{/register}">Register</a>
    </div>
    <div class="container">
        <h2 class="mt-5">Lista de Clientes</h2>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th>Borrado</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Pais</th>
                <th>Genero</th>
                <th>Telefono Movil</th>
                <th>Tipo Documento</th>
                <th>Documento</th>
                <th>Comentarios</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td>
                    <span th:if="${cliente.borrado}" style="color: red;">Eliminado</span>
                </td>
                <td th:if="${cliente.nombre != null}" th:text="${cliente.nombre}"></td>
                <td th:if="${cliente.apellidos != null}" th:text="${cliente.apellidos}"></td>
                <td th:if="${cliente.usuarioEmail != null}" th:text="${cliente.usuarioEmail.email}"></td>
                <td th:if="${cliente.pais != null}" th:text="${cliente.pais.nombre}"></td>
                <td th:if="${cliente.genero != null}" th:text="${cliente.genero.gen}"></td>
                <td th:if="${cliente.telefonoMovil != null}" th:text="${cliente.telefonoMovil}"></td>
                <td th:if="${cliente.tipoDocumentoCliente != null}" th:text="${cliente.tipoDocumentoCliente}"></td>
                <td th:if="${cliente.documento != null}" th:text="${cliente.documento}"></td>
                <td th:if="${cliente.comentarios != null}" th:text="${cliente.comentarios}"></td>
                <td>
                    <span th:if="${cliente.borrado}">
                        <form th:action="@{/administrador/inicio/restablecer/{id}(id=${cliente.id})}" method="post">
                            <input type="hidden" name="clienteId" th:value="${cliente.id}">
                            <button type="submit">Restablecer Cliente</button>
                        </form>
                    </span>
                    <span th:unless="${cliente.borrado}">
                        <form th:action="@{/administrador/inicio/eliminar/{id}(id=${cliente.id})}" method="post">
                            <input type="hidden" name="clienteId" th:value="${cliente.id}">
                            <button type="submit">Eliminar Cliente</button>
                        </form>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
