<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>
<h2>Añadir Usuario Administrador</h2>
<main>
    <form th:action="@{/administrador/addAdmin}" th:object="${administrador}" method="post" class="form-container">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" th:field="*{email}" />
                <div th:if="${#fields.hasErrors('email')}" class="error">
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="clave">Contraseña:</label>
                <input type="password" id="clave" th:field="*{clave}" />
                <div th:if="${#fields.hasErrors('clave')}" class="error">
                    <p th:each="err : ${#fields.errors('clave')}" th:text="${err}"></p>
                </div>
            </div>
            <div>
            <div class="form-group">
                <label for="confirmarClave">Confirmar clave:</label>
                <input type="password" id="confirmarClave" th:field="*{confirmarClave}" />
                <div th:if="${#fields.hasErrors('confirmarClave')}" class="error">
                    <p th:each="err : ${#fields.errors('confirmarClave')}" th:text="${err}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="pregRec">Pregunta de recuperación:</label>
                <input type="text" id="pregRec" th:field="*{pregRec}" />
                <div th:if="${#fields.hasErrors('pregRec')}" class="error">
                    <p th:each="err : ${#fields.errors('pregRec')}" th:text="${err}"></p>
                </div>
            </div>
                <div class="form-group">
                    <label for="respRec">Respuesta de recuperación:</label>
                    <input type="text" id="respRec" th:field="*{respRec}" />
                    <div th:if="${#fields.hasErrors('respRec')}" class="error">
                        <p th:each="err : ${#fields.errors('respRec')}" th:text="${err}"></p>
                    </div>
                </div>
            <button type="submit">Registrar </button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </form>
</main>
</body>
</html>
