<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>
<h2>Añadir Usuario Administrador</h2>
<main>
    <form th:action="@{/administrador/addAdmin}" th:object="${administrador}" method="post" class="form-container">
        <div class="form-group">
            <label>Email:</label>
            <input type="text" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label>Clave:</label>
            <input type="password" th:field="*{clave}"/>
        </div>
        <div>
            <button type="submit">Registrar </button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </form>
</main>
</body>
</html>
