<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/estilosAddProducto.css}">
</head>
<body>
<header>
    <nav th:replace="~{fragments/cabeceraAdmin}"></nav>
</header>
<h2>Añadir Usuario Administrador</h2>
<main>
    <form th:action="@{/administrador/addAdmin}" th:object="${administrador}" method="post" class="form-container">
        <div class="form-group">
            <label>Email:</label>
            <input type="text" th:field="*{email}"/>
        </div>
        <div class="form-group">
            <label>Clave:</label>
            <input type="password" th:field="*{clave}"/>
        </div>
        <div>
            <label>Confirmar Clave:</label>
            <input type="password" th:field="*{confirmarClave}"/>
        </div>

            <label for="pregRec">Pregunta de Recuperacion:</label>
                <textarea th:field="*{pregRec}" cols="20" rows="2"></textarea>
                    <div class="error" th:errors="*{pregRec}"></div>
        <br>
            <label for="respRec">Respuesta de Recuperacion:</label>
                <textarea th:field="*{respRec}" cols="20" rows="2"></textarea>
                    <div class="error" th:errors="*{respRec}"></div>
        <br>
        <input type="button" value="Mostrar Contraseñas" onclick="
                    let claveInput = document.getElementById('clave');
                    let confirmarClaveInput = document.getElementById('confirmarClave');
                    if (claveInput.type === 'password') {
                        claveInput.type = 'text';
                        confirmarClaveInput.type = 'text';
                    } else {
                        claveInput.type = 'password';
                        confirmarClaveInput.type = 'password';
                }">
        <div>
            <button type="submit">Registrar </button>
        </div>
        <div th:if="${error}">
            <p th:text="${error}"></p>
        </div>
    </form>
</main>
</body>
</html>
