<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script>
        function redirectToVue() {
            window.location.href = 'http://localhost:8081/tienda';
        }
    </script>
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/img/logo.png}" height="100" width="100" alt="Logo de tu Aplicación">
        <h1>Autos Elite</h1>
    </div>
</header>
    <div class="login-container">
        <h2>Inicio de Sesión</h2>
        <form th:action="@{/loginUsuario-post}" method="post" th:object="${usuario}">
            <label for="email">Email:</label>
                <input type="text" th:field="*{email}">
            <p th:if="${error}" class="error" th:text="${error}"></p>
                <input type="submit" value="Iniciar Sesión">

        </form>
        <form action="" method="get">

            <h3>Usuarios ya registrados</h3>
                <select  id="registeredUsers">
                    <option value="">Selecciona un usuario</option>
                    <option th:each="emailUsu : ${emailUsuarios}" th:text="${emailUsu}" th:value="${emailUsu}"></option>
                </select>


            <p>No tienes un Usuario? <a href="/registroUsuario">Regístrate aquí</a></p>
            <input type="button" value="Ir a la tienda" formnovalidate onclick="redirectToVue()">

        </form>

    </div>
</body>

<script src="/js/form.js">

</script>
</html>