<header>
    <nav>
        <ul class="navigation-bar">
            <li><a th:href="@{/administrador/inicio}"><span>Clientes</span></a></li>
            <li><a th:href="@{/administrador/productos}"><span>Productos</span></a></li>
            <li><a th:href="@{/categorias}"><span>Categorias</span></a></li>
            <li><a th:href="@{/administrador/addAdmin}"><span>Añadir Administrador</span></a></li>
            <li><a th:href="@{/administrador/cerrar_sesion}"><span>Cerrar Sesion</span></a></li>

        </ul>
    </nav>
</header>
