<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script>
        function redirectToVue() {
            window.location.href = 'http://localhost:8081/tienda';
        }
    </script>
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/img/logo.png}" height="100" width="100" alt="Logo de tu Aplicación">
        <h1>Autos Elite</h1>
    </div>
    <nav th:replace="~{fragments/barraNavegacionRegistro}"></nav>
</header>
<form action="/grupo4/paso1" method="post" th:object="${clientePlantilla}">
    <fieldset>
        <legend>Datos personales: </legend>

        <!--GENERO (RADIO)-->
        <label>Género:</label><br>
        <th:block th:each="g : ${listaGeneros}">
            <input type="radio" name="residencia" th:id="${g.getKey()}"
                   th:value="${g.getKey()}"
                   th:field="*{genero}">
            <label th:for="${g.getKey()}"
                   th:text="${g.getValue()}"></label>
        </th:block>
        <div th:errors="*{genero}" class="error"></div>
        <br>
        <label for="fechaNacimiento" >Fecha de Nacimiento: </label>
<!--        <input placeholder="pablo1234.." type="text" th:field="*{fechaNacimiento}"/>-->
<!--        <div th:errors="*{fechaNacimiento}" class="error"></div>-->
        <br>

        <label for="pais">Pais: </label>
        <select id="pais" name="pais">
            <option th:each="p : ${listaPaises}"
                    th:value="${p.key}"
                    th:text="${p.value}"
                    th:field="*{pais}">
            </option>
        </select>
        <br>
        <!--No ponemos usuario porque se debe crear antes, y la primera vez que se inicia sesión, se reedirige a este formulario -->
        <label for="tipoDocumentoCliente">Tipo de Documento: </label>
        <select id="tipoDocumentoCliente" name="pais">
            <option th:each="p : ${listaTiposDocumento}"
                    th:value="${p.key}"
                    th:text="${p.value}"
                    th:field="*{tipoDocumentoCliente}">
            </option>
        </select>
        <br>
        <label for="documento">Documento: </label>
        <input placeholder="000000A" type="text"  th:field="*{documento}">
        <div th:errors="*{documento}" class="error"></div>
        <br>
        <label for="nombre">Nombre: </label>
        <input placeholder="Jorge..." type="text"  th:field="*{nombre}">
        <div th:errors="*{nombre}" class="error"></div>
        <br>
        <label for="apellidos" >Apellidos: </label>
        <input placeholder="García..." type="text" th:field="*{apellidos}"/>
        <div th:errors="*{apellidos}" class="error"></div>
        <br>

        <div th:if="${#fields.hasErrors('global')}">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"/>
        <br>
    </fieldset>
    <input type="submit" value="Guardar infortmación y pasar al siguente paso">
    <input type="button" value="Ir a la Tienda sin registrarme" formnovalidate onclick="redirectToVue()">
</form>



</body>
</html>