<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/img/logo.png}" height="100" width="100" alt="Logo de tu Aplicación">
        <h1>Autos Elite</h1>
    </div>
    <nav th:replace="~{fragments/barraNavegacionRegistro}"></nav>
</header><form action="/registro/paso3" method="post" th:object="${clientePlantilla}">
    <fieldset>
        <legend>Datos de cliente: </legend>

        <!--TEXTAREA-->
        <label for="comentarios">Comentarios: </label><br>
        <textarea name="comentarios"  cols="20" rows="2"
                  th:field="*{comentarios}">
        </textarea>
        <br>
        <label for="licencia" >Licencia: </label>
        <input type="checkbox" value="true" id="licencia" th:field="*{licencia}"/>
        <div th:errors="*{licencia}" class="error"></div>
        <br>
    </fieldset>
    <input type="submit" value="Guardar infortmación y pasar al siguente paso">
</form>

</body>
</html>