<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/img/logo.png}" height="100" width="100" alt="Logo de tu Aplicación">
        <h1>Autos Elite</h1>
    </div>
    <nav th:replace="~{fragments/barraNavegacionRegistro}"></nav>
</header><form action="/registro/paso3" method="post" th:object="${clientePlantilla}">
    <fieldset>
        <legend>Datos de cliente: </legend>

        <!--TEXTAREA-->
        <label for="comentarios">Comentarios: </label><br>
        <textarea name="comentarios"  cols="20" rows="2"
                  th:field="*{comentarios}">
        </textarea>
        <br>
        <label for="licencia" >Licencia: </label>
        <input type="checkbox" value="true" id="licencia" th:field="*{licencia}"/>
        <div th:errors="*{licencia}" class="error"></div>
        <br>
        <fieldset id="fieldsetTarjeta">
            <legend>Tarjeta:</legend>
            <label for="numero" >Numero: </label>
            <input placeholder="AA00 0000 0000 0000" type="text" name="numero" id="numero" />
            <label for="tipoTarjetaCredito" >Tipo de tarjerta de crédito: </label>
            <input placeholder="Visa..." type="text" name="tipoTarjetaCredito" id="tipoTarjetaCredito"/>
            <label for="cvv" >cvv: </label>
            <input placeholder="123" type="text" name="cvv" id="cvv"/>
            <label for="fechaCad" >Fecha de cadudcidad: </label>
            <input placeholder="10-09-2027..." type="text" name="fechaCad" id="fechaCad"/>

        </fieldset>
    </fieldset>
    <input type="submit" value="Guardar infortmación y pasar al siguente paso">
</form>

</body>
</html>