<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            let counter = -1;

            $("#agregarTarjeta").click(function () {
                counter++;
                let newTarjeta = `
                    <div class="tarjeta">
                        <label for="numero${counter}">Numero:</label>
                        <input type="text" th:field="*{tarjetasCredito[${counter}].numero}"><br>
                        <label for="tipoTarjeta${counter}">Tipo de tarjeta:</label>
                        <input type="text" th:field="*{tarjetasCredito[${counter}].tipoTarjetaCredito}"><br>
                        <label for="cvv${counter}">CVV:</label>
                        <input type="text" th:field="*{tarjetasCredito[${counter}].cvv}"><br>
                        <label for="fechaCad${counter}">Fecha de caducidad:</label>
                        <input type="text" th:field="*{tarjetasCredito[${counter}].fechaCad}"><br>
                    </div>
                `;
                $("#fieldsetTarjeta").append(newTarjeta);
            });
        });
    </script>
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/img/logo.png}" height="100" width="100" alt="Logo de tu Aplicación">
        <h1>Autos Elite</h1>
    </div>
    <nav th:replace="~{fragments/barraNavegacionRegistro}"></nav>
</header>

<form action="/registro/paso3" method="post" th:object="${clientePlantilla}">
    <fieldset>
        <legend>Datos de cliente:</legend>

        <!--TEXTAREA-->
        <label for="comentarios">Comentarios:</label><br>
        <textarea name="comentarios" cols="20" rows="2" th:field="*{comentarios}"></textarea>
        <br>
        <label for="licencia">Licencia:</label>
        <input type="checkbox" value="true" id="licencia" th:field="*{licencia}"/>
        <div th:errors="*{licencia}" class="error"></div>
        <br>
        <fieldset id="fieldsetTarjeta">
            <legend>Tarjetas de crédito:</legend>

        </fieldset>
        <button type="button" id="agregarTarjeta">Agregar otra tarjeta</button>
    </fieldset>
    <input type="submit" value="Guardar información y pasar al siguiente paso">
</form>

</body>
</html>

