<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="login-container">
        <h2>Inicio de Sesión</h2>
        <form th:action="@{//loginUsuario-post}" method="post" th:object="${usuario}">
            <label for="email">Email:</label>
                <input type="text" th:field="*{email}">
                <input type="submit" value="Iniciar Sesión">

            <h3>Usuarios ya registrados</h3>
                <select  id="registeredUsers"  th:field="*{email}">
                    <option value="">Selecciona un usuario</option>
                    <option th:each="emailUsu : ${emailUsuarios}" th:text="${emailUsu}" th:value="${emailUsu}"></option>
                </select>


            <p>No tienes un Usuario? <a href="/registroUsuario">Regístrate aquí</a></p>
        </form>

    </div>

</body>
<script src="/js/form.js"></script>
</html>