<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<th:block th:replace="~{fragments/cabecera}"></th:block>
<form action="/grupo4/paso2" method="post" th:object="${clientePlantilla}">
  <fieldset>
    <legend>Datos de contacto:</legend>

    <label for="prefijo">Prefijo: </label>
    <select id="prefijo" name="tratamiento_deseado">
      <option th:each="p : ${listaPrefijos}"
              th:value="${p.key}"
              th:text="${p.value}">
<!--              th:field="*{tratamiento_deseado}"-->

      </option>
    </select>

    <label for="telefonoMovil" >Teléfono Móvil: </label>
    <input placeholder="999 999 999.." type="text" th:field="*{telefonoMovil}"/>
    <div th:errors="*{telefonoMovil}" class="error"></div>
    <br>

    <label for="direccion" >Direccion: </label>
    <input placeholder="C/sjdfjk, 5, 3d" type="text" th:field="*{direccion}"/>
    <div th:errors="*{direccion}" class="error"></div>
    <br>
  </fieldset>
  <input type="submit" value="Guardar infortmación y pasar al siguente paso">



</form>

</body>
</html>